h1 {
  text-align: center;
}
h3 {
  font-weight: 100px;
}
body {
  background-color: #f9e2d8;
  color: #d5a68a;
}
.navBar a {
  color: #f1c0a8;
  display: inline-block;
  cursor: pointer;
  text-decoration: center;
}
.navBar a:visited {
  color: white;
}
.navBar a:hover {
  color: #e39291;
}
